.bar {
    /* width: 100%; */
    width: 1240px;
    height: 70px;
    margin-left: -50px;
    color: white;
    background-color: #333;
}

.tone-feed-header {
    display: flex;
    position: absolute;
    z-index: 1;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: white;
    width: 200px;
    border: 25px;
    height: 50px;
    margin-bottom: 15px;
    margin-left: 25px;

}

.buttons-two {

}

.logout-button {
    cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}