.topnav {
  margin: 0;
  display: flex;
  justify-content: space-between;

  background-color: #333;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 50px;
  z-index: 5;
}

.nav-bar-search-bar{
  width: 400px;
  height: 15px;
  margin-top: 8px;
  padding: 5px;
}

.search-list {
  border: 1px solid black;
  list-style-type: none;
}

.search-hidden {
  opacity: 0;
}

.fa-search{
  padding: 15px;
  color: gray;
  cursor: pointer;
}

.fa-search:hover{
  color: white;
}
.switch-components {
  margin: auto; 
}

.tone-feed-header{
  margin: 0px;
  margin-top: 8px;
  margin-left: 18px;
  color: #f50;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.buttons-two{
  display: flex;
  width: 200px;
  margin: 0px;
  padding: 0px;
  background-color: #333;
}

.buttons-two > button{

  background-color: #333;
  border-color:   black;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  color: #f50;
  cursor: pointer;
}

.buttons-two > button:hover {
  background-color: white;
}

.buttons-two:first-child {

}

