
.comments-list-final {
    display: flex;
    margin: auto;
    margin-top: 35px;
}

.header-comment-list-avatar {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: none;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    
}

.user-avatar-list {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.actual-comments-list {
    margin-left: 35px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.comment-list-item-box {
    display: flex;
    justify-content: space-between;
    width: 550px;
    height: 60px;
    font-size: 12px;
    padding: 4px;
    margin: 0px;
    margin-left: 15px;
    border: 1px;
    border-color: rgba(121, 121, 121, 0.548);
    
}

.comment-list-item-box-p{
    display: flex;
    flex-direction: column;
}

.comment-list-item-box > img {
    width: 38px;
    height: 38px;
    padding: 3px;
    margin: none;
    margin-top: 0px;
    margin-right: 4px;
    
}

.comment-list-item-box-p > p {
    padding: 0px;
    margin: 0px;
    padding: 0px;
}

.username-comment-list-item {
    color: rgba(95, 95, 95, 0.63);
}

.header-comment-list-avatar > div {
    display: block;
    padding: 2px;
    width: 36px;
    border: 0.5px solid;
    border-radius: 10px;
}
    
.header-comment-list-avatar > i {
    margin-left:5px;
}

.header-comment-list-avatar > div:hover {
    color: rgb(187, 64, 3);
    cursor: pointer;
}
.users-friends {
    margin-left: 8px;
}

.fa-trash-alt{

    cursor: pointer;
    margin-left: 810px;
}

.fa-comment-alt{
    color: rgba(133, 133, 133, 0.671);
    margin-left: 70px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

.comment-count-part{
    display: inline-block;
    margin-bottom: 25px;

}

.users-track-window{
    width: 20%;
}

.users-track-window img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.users-track-window p {
    font-size: 12px;
}

.users-track-window button {
    background-color: #ff5500;
    padding: 4px;
    border-radius: 10%;
    color: white;
    width: 50px;
}

.ul-comments{
    position: relative;
}

.two-boxes-comment-list{ 

    display: flex;
    margin-top: 50px;
}

.right-side-main-comments{
 margin-left: -25px;
 padding: -25px;
}

.comment-flex-box-1{
    display: flex;
    justify-content: space-between;
}

#button{
    cursor: pointer;
}