.root {

    margin: 0px auto;
    background-color: rgba(223, 223, 223, 0.603);
    position: relative;
    display: flex;
    margin-top: 70px;
text-align: center;
}
/* 
.root-two {
display: flex;
} */

.master-html{
    margin: -10px;
    padding: 0px;
    background-color: black;
    display: block;
    text-align: center;
}

/* .app-reset{
display: block;
margin:0px;
padding:0px;
position: relative;
} */

/* .fa-thumbs-up:active{
  color: #f50;
} */