

body, header, ul, li, div, img {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 0%;
}

header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 9999;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: white;
    font-size: 12px;
    padding-left: 25px;
    padding-top: 2px;
    width: 1200px;
}

.buttons  {
    color: white;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-size: 14px;
    padding-top: 17px;
}

.buttons > .login-button {
    font-weight: normal;
    color: white;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    background-color: #f50;
    border-color: #f50;
    border-radius: 3px;
    height: 30px;
    font-size: 14px;
}

.buttons > .signin-button {
    color: white;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    background-color: transparent;
    border-radius: 3px;
    height: 30px;
    font-size: 14px;
    margin-right: 8px;
}

body {
    width: 80%;
    margin: 50px auto;
}

.main-slider {
    padding-top: 0px;
    margin-top: 0%;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    border-top: 5px;
    width: 1240px;
    height: 450px;
    position: absolute;
    padding: 0%;

    overflow-x: hidden;
}
.main-slider img {
    display: block;
}
.main-slider-content {
    list-style: none;
    display: flex;
    animation-duration: 35s;
    animation-name: slide;
    animation-iteration-count: infinite;
    transform: translateX(-1240px);
}

@keyframes slide {
    5%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-1240px);
    }
    90%{
        transform: translateX(-1240px);
    }
    98%{
        transform: translateX(-1240px);
    }

}

.image-2-box {

    color: white;
}

.image-1-text-box {
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: white;
}
.image-1-text {
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-1-text-body {
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-2-text {
    color: white;
    position: absolute;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    top: 40%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    transform: translateX(1240px);
}

.image-2-text-body {
    color: white;
    position: absolute;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    top: 60%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    transform: translateX(1240px);
}