

.track-splash-image {
    width: 200px;
    height: 200px;
}

.track-splash-master {
    margin-left: -50px;
    margin-bottom: 0px;
    width: 1236px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  column-gap: 5px;
  background-color: white;
  padding: 2px;

}

.track-splash-title{
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode",
    "Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    padding: 1px;
}

.play-circle-splash, .pause-circle-splash{
  width: 47px;
  height: 47px;
  font-size: 37px;
  color: #f50;
  margin-top: 45px;
  margin-left: 67px;
  cursor: pointer;
  border: 5px solid;
}

.fa-play-circle, .fa-pause-circle{
  padding: 0px;
  margin-top: 10px;
  margin-left: -170px;
  margin-bottom: 50px;
  width: 47px;
  height: 47px;
}

.circle-play-index{
  width: 47px;
  height: 47px;
  font-size: 37px;
  color: #f50;
  margin-top: 27px;
  cursor: pointer;
}

.track-splash-item-master {
  padding: 2px;
  margin-bottom: 2px;
}
